Django==3.2.3
django-admin-shell==2.0.0
django-admin-sortable2==1.0
django-cors-headers==3.2.1
djangorestframework==3.11.0
django-redis==4.12.1
django-rest-knox==4.1.0
django-q==1.2.1
django-simple-history==3.0.0
django-storages[google]
django-admin-sortable2==1.0
gunicorn==20.0.4
Pillow==7.0.0
phonenumbers==8.13.24
psycopg2==2.8.4
pytils==0.3
pytz==2019.3
redis==3.4.1
sqlparse==0.3.0
transliterate==1.10.2
numpy==1.18.2
xkcdpass==1.19.2
xlsxwriter==1.4.3
xlrd==1.1.0

